body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.body-page {
  width: 100%;
  height: 100vh;
}
.header-body-page {
  position: absolute;
  width: 100%;
}
.header-body-page nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
}
.header-body-page img {
  width: 50px;
  height: 50px;
}
.more-button {
  width: 50px;
  height: 50px;
}
.more-rectangle {
  display: flex;
  height: 5px;
  margin:5px;
  border-radius: 8px;
  background-color: #FD4C5C;
}

.capture-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #FCFBFF;
}
.background-capture-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  
  background-repeat: no-repeat;
  background-image: url(../images/background-capture-email.svg);
}
.background-capture-email img {
  width: 450px;
  height: 400px;
}
.input-email-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin: 0px;
}
.input-email-area h1 {
  color: #FFDE77;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}
.input-email-area form {
  flex-direction: row;
}
.input-email-area p {
  color: #6E7075;
  font-size: 15px;
  width: 540px;
}
.title-enfase {
  font-size: 125px;
}
.input-email {
  width: 400px;
  height: 35px;
  background: #FFFFFF;
  box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.1);
  border: 0 none;
  outline: 0;
  padding: 15px;
}
.input-email::-webkit-input-placeholder {
  color: #B5B8BC;
}
.input-email-button {
  background: #FD4C5C;
  color: #FFFFFF;
  font-size: 13px;
  box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.1);
  border: 0 none;
  outline: 0;
  padding: 25px;
  margin-left: -5px;
}

.create-desire {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/background-create-desire.svg);
}
.image-desire {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-desire img{
  width: 500px;
  height: 450px;
}
.itens-desire {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.itens-desire h1 {
  font-size: 50px;
  color: #1F243A;
  margin: 0;
}
.itens-desire p {
  color: #7B7B7C;
  font-style: italic;
  margin: 0;
}
.itens-desire ol {
  list-style-type: none;
  padding: 0px;
}
.itens-desire span {
  color: #FFDE77;
  font-weight: bold;
  font-size: 50px;
  margin-right: 5px;
}
.itens-desire li {
  color: #1F253B;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.proof-results {
  
}
.services {

}
.depositions {
  
}
.faq {
  
}