body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.body-page {
  width: 100%;
  height: 100vh;
}
.header-body-page {
  position: absolute;
  width: 100%;
}
.header-body-page nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
}

.capture-email {
  background: #FCFBFF;
}
.create-desire {
  
}
.proof-results {
  
}
.services {

}
.depositions {
  
}
.faq {
  
}